#navigation {
    background: #162d50;
    border-bottom: 2px solid #03142f;
    border-top: 1px solid #a6b8bf;
    height: 33px;
}

#header ul,#navigation ul {
    list-style: none;
    padding: 0;
    color: #CECECE;
    font-size: 16px;
}

#navigation ul {
    margin-top: 5px;
}
#navigation ul a {
    display: block;
    color: #CECECE;
    text-decoration: none;
    padding: 0px 6px 0px 6px;
    text-shadow: 2px 2px 1px #222;
}

#navigation ul a:hover {
    color: #FFF;
    text-shadow: 2px 2px 1px #000;
    background-color: #03192C;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#navigation ul li {
    float: left;
    margin: 0 12px 0 0;
}

#navigation li ul {
    display: none;
    background: #E1E0DF;
    border: 1px solid #ccc;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 3px;
    min-width: 150px;
    margin-top: 0px;
}

#navigation li:hover ul {
    display: block;
    position: absolute;
}
#navigation ul li ul li{
    font-size: 14px;
    line-height: 24px;
    float: none;
    color: #000;
}

#navigation ul li ul li a {
    color: #000;
    text-shadow: 0 0 0;
}

#header ul {
    float: right;
    margin-top: -8px;
}
#header ul li {
    font-size: 21px;    
}
#header ul li p {
    margin: 0;
    padding: 0;
    font-size: 11px;
    color: #ebebe9
}
#header ul a {
    color: #0A3A84;
    display: block;
    border-bottom: 2px solid #528296;
    margin-bottom: 23px;
    padding-bottom: 11px;
    text-decoration: none;
}
#header ul a:hover {
    color: #03142f;
    background: url('./../images/hbgm.png') repeat;
    border-bottom: 2px solid #356A9F
}


/* PAGINATION */
._paginatioForm {
    float: right;
}

._paginatioForm form {
    float: right;
    width: 70px;
    text-align: right;
}

._paginatioForm input {
    width: 24px;
    text-align: right;
    color: #666;
    padding: 6px;
    border: 1px solid #E8EEF0;
}

._paginationList {
    float: left;
}

._paginationList h4 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 21px;
    color: #243501;
}

._paginationList {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 18px;
}

._paginationList li {
    float: left;
    display: block;
    margin-left: 6px;
}


._paginationList span.curPage {
    color: #243501;
    background: #F6F6F2;
    padding: 3px;
    border: 1px solid #F0F0E7;
}

._paginationList .fal {
    font-size: 12px;
}

._paginationList li:before {
    display: none;
}
