.content .block {
    border: 0;
    background: none;
    padding: 0;
}

.tags {
    margin-top: 12px;
}
.tags span {
    display: block;
    float: left;
    text-indent: -20000px;
    width: 13px;
    height: 12px;
    margin-right: 6px;
    background: url('./../images/icons.png') no-repeat 0 0;
    margin-top: 4px;
}
.tags ul {
    text-indent: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    background: none;
}
.tags ul li {
    float: left;
    font-size: 12px;
    margin-right: 6px;
    margin-left: 0;
    margin-top: 1px;
}
.recordInfo {
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: 22px;
    background: #e8eef0;
    margin: 12px 0 0 0;
    padding: 2px 0 0 0;
    font-size: 11px;
}
.recordInfo .votePositive {
    float: left;
    width: 23px;
    height: 24px;
    text-align: center;
    border-right: 1px solid #f6f8f9;
}
.recordInfo .votePositive a {
    display: block;
    width: 13px;
    height: 12px;
    text-indent: -20000px;
    background: url('./../images/icons.png') no-repeat -57px 0;
    margin: 2px auto 0 auto;
}
.recordInfo .voteNegative a {
    display: block;
    width: 13px;
    height: 13px;
    text-indent: -20000px;
    background: url('./../images/icons.png') no-repeat -70px 0;
    margin: 2px auto 0 auto;
}
.recordInfo .voteNegative {
    float: left;
    width: 23px;
    height: 24px;
    text-align: center;
    margin-right: 12px;
    border-left: 1px solid #f6f8f9;
}
.recordInfo .votes {
    float: left;
    text-align: center;
    min-width: 36px;
    padding: 0 6px 0 6px;
    font-size: 11px;
}
.recordInfo .votes span {
    width: auto;
    text-align: center;
    width: 48px;
    padding: 0 4px 0 4px;
    font-size: 12px;
    color: #3e5207;
}
.recordInfo div span {
    display: block;
    float: left;
    text-indent: -20000px;
    width: 13px;
    height: 12px;
    margin-right: 6px;
    background: url('./../images/icons.png') no-repeat;
    margin-top: 2px;
}
.recordInfo .username span {
    background-position: -13px 0;
}
.recordInfo .date span {
    background-position: -26px 0;
}
.recordInfo .link span {
    width: 10px;
    background-position: -121px 0;
}
.recordInfo .favorites span {
    background-position: -108px 0;
}
.recordInfo .favorites span:hover {
    background-position: -83px 0;
}
.recordInfo .comments span {
    width: 16px;
    background-position: -40px 0;
}
.recordInfo .username {
    float: left;
    width: 20%;
}
.recordInfo .date {
    float: left;
    width: 35%;
}
.recordInfo .link,.recordInfo .favorites {
    width: 24px;
    float: left;
}
.recordInfo .comments {
    float: right;
    margin-right: 8px;
}
.recordInfo div {
    margin-top: 2px;
}

div.tagCloud {
    text-align: center
}
div.tagCloud a {    
    text-decoration: none;
}
div.tagCloud a:hover {
    text-decoration: underline;
}
ul.categorylist {
    font-size: 18px;
    line-height: 32px;
    padding: 0 0 0 24px;
    list-style: none;
}
ul.categorylist li {
    margin-left: 0;
}
ul.categorylist li span {
    display: block;
    font-size: 12px;
}
h2.catTitle {
    font-size: 32px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ccc;
}

fieldset {
    border: 1px solid #e3e7e9;
    border-radius: 6px;
    -moz-border-radius: 6px;
    margin-bottom: 24px;
}

.person {
    padding: 0;
    margin: -12px 0 0 0;
    color: #222;
}
.person .signin {
    font-size: 21px;
}
.person a {
    color: #0A3A84;
}
.person a:hover {
    color: #03142f;
}
.person .signup {
    font-size: 18px;
}
.person p {
    margin: 4px 0 0 0;
    text-align: right
}
.person .resetpwd {
    font-size: 13px;
}


._messages {
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #e3e7e9;
    padding: 12px;
    margin-bottom: 12px;
}
._messages img {
    margin-right: 36px
}
._messages ul {
    padding: 0 0 0 24px;
    margin: -12px 0 0 0;
    text-align: left;
    list-style: decimal;
}
._messages ul li {
    margin-top: 12px;
}


._messages.error{
    background-color: #fde5e5;
    border-color: #f6d7d7;
    color: maroon;
}
._messages.warning{
    background-color: #f6eac5;
    border-color: #f6e4ac;
    color: #644b00;
}

#share {
    margin-top: 24px;
}
