/* 
    Document   : style.css
    Created on : 22.09.2010, 17:23:25
    Author     : xmcdbx
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.cls {
    clear: both;
}
root { 
    display: block;
}

html {
    background: #F3F9FD;
    margin:0;
    padding:0;
    font-family: sans-serif;
    font-size: 14px;
    min-width: 1000px;
}
body {
    margin:0;
    padding:0;
}
a img {
    border: 0;
}
a {
    color: #356a9f;
}
a:hover {
    color: #4173a5;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0
}
.ad {
    display: none;
    height: 48px;
    background: green;
}
.gspot {
    margin: auto auto;
    max-width: 1260px;
    padding: 0 36px 0 36px;
}
#header {
    padding-top: 36px;
    height: 96px;
    background: #e6ecee url('images/header_bgcp.png') repeat-x;
}
#headBar {
    height: 48px;
}
#menuBar {
    background: #13293c;
    border-bottom: 2px solid #bbb;
    border-top: 2px solid #bbb;
    margin-top: 12px;
    height: 32px;
}

#middle {
    background: #fff url('images/middle_bg.png') repeat-x;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 32px;
}

#westCoast {
    width: 68%;
    float: left
}

.block {
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #e3e7e9;
    margin-bottom: 24px;
    background: #f6f8f9;
    padding: 24px 24px 24px 24px;
    font-size: 14px;
    line-height: 21px
}
.block p {
    text-indent: 14px;
}
.block h2 {
    font-size: 28px;
    line-height: 32px;
    color: #3e5207;
    font-weight: normal;
    margin-bottom: 24px;

}


#westCoast .block {
    border: 0;
    background: none;
    padding: 0;
    border: 0;
}

.tags {
    margin-top: 12px;
}
.tags span {
    display: block;
    float: left;
    text-indent: -20000px;
    width: 13px;
    height: 12px;
    margin-right: 6px;
    background: url('images/icons.png') no-repeat 0 0;
    margin-top: 4px;
}
.tags ul {
    text-indent: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left
}
.tags ul li {
    float: left;
    font-size: 12px;
    margin-right: 6px;
}
.recordInfo {
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: 24px;
    background: #e8eef0;
    margin: 12px 0 0 0;
    padding: 0 24px 0 18px;
    font-size: 11px;
}
.recordInfo .votePositive {
    float: left;
    width: 24px;
    height: 24px;
    text-align: center;
    border-right: 1px solid #f6f8f9;
}
.recordInfo .votePositive a {
    display: block;
    width: 13px;
    height: 12px;
    text-indent: -20000px;
    background: url('images/icons.png') no-repeat -57px 0;
    margin: 4px auto 0 auto;
}
.recordInfo .voteNegative a {
    display: block;
    width: 13px;
    height: 13px;
    text-indent: -20000px;
    background: url('images/icons.png') no-repeat -70px 0;
    margin: 3px auto 0 auto;
}
.recordInfo .voteNegative {
    float: left;
    width: 24px;
    height: 24px;
    text-align: center;
    margin-right: 24px;
    border-left: 1px solid #f6f8f9;
}
.recordInfo .votes {
    float: left;
    text-align: center;
    min-width: 36px;
    padding: 0 6px 0 6px;
    margin-top: 1px;
    font-size: 11px;
}
.recordInfo .votes span {    
    width: auto;
    text-align: center;
    width: 48px;
    padding: 0 4px 0 4px;
    font-size: 12px;
    color: #3e5207;
}
.recordInfo div span {
    display: block;
    float: left;
    text-indent: -20000px;
    width: 13px;
    height: 12px;
    margin-right: 6px;
    background: url('images/icons.png') no-repeat;
    margin-top: 4px;
}
.recordInfo .username span {
    background-position: -13px 0;
}
.recordInfo .date span {
    background-position: -26px 0;
}
.recordInfo .link span {
    width: 10px;
    background-position: -121px 0;
}
.recordInfo .favorites span {
    background-position: -108px 0;
}
.recordInfo .favorites span:hover {
    background-position: -83px 0;
}
.recordInfo .comments span {
    width: 16px;
    background-position: -40px 0;
}
.recordInfo .username {
    float: left;
    width: 20%;
}
.recordInfo .date {
    float: left;
    width: 43%;
}
.recordInfo .link,.recordInfo .favorites {
    width: 24px;
    float: left;
}
.recordInfo .comments {
    float: right;
}
.recordInfo div {
    margin-top: 2px;
}

#eastCoast {
    width: 30%;
    float: right
}

#footer {
    clear: both;
    border-top: 6px solid #C8D7DC;
    color: #555;
    font-size: 12px;
    padding: 24px 0 24px 0;
}
#footer .divny {
    margin-right: 32px;
}
#footer .left {
    float: left;
    width: 25%;
    min-height: 1px;
}
#footer .middle {
    float: left;
    width: 50%;
    text-align: center;
}
#footer .right {    
    width: 25%;
    text-align: right;
    float: left;
}

.menu {
    margin-top: -10px;
}

.menu ul {
    list-style: none;
    padding: 0;
    color: #CECECE;    
    font-size: 16px;
}

.menu ul a {
    display: block;
    color: #CECECE;
    text-decoration: none;
    padding: 0px 6px 0px 6px;
    text-shadow: 2px 2px 1px #222;
}

.menu ul a:hover {
    color: #FFF;
    text-shadow: 2px 2px 1px #000;
    background-color: #03192C;
    -moz-border-radius: 6px;
}

.menu ul li {
    float: left;
    margin-right: 12px;
}

.menu ul li ul li{
    font-size: 14px;
    line-height: 24px;
    float: none;
    color: #000;
}
.menu ul li ul li a {
    color: #000;
    text-shadow: 0 0 0;
}
.menu li ul {
    display: none;
    background: #E1E0DF;
    border: 1px solid #ccc;
    -moz-border-radius: 6px;
    padding: 3px;
    min-width: 150px;
}
.menu li:hover ul {
    display: block;
    position: absolute;
}
.submenu {
    border: 1px solid #ccc;
}

div.tagCloud {
    font-size: 24px;
}
div.tagCloud a {
    margin-left: -6px;
    text-decoration: none;
}
div.tagCloud a:hover {
    text-decoration: underline;
}
ul.categorylist {
    font-size: 18px;
    line-height: 32px;
    padding: 0 0 0 24px;
    list-style: decimal;
}