#navigation {
    background: #13293c;
    border: 0px;
    height: 24px;
    margin-top: -34px;
}

#navigation ul {
    list-style: none;
    padding: 0;
    color: #CECECE;
    font-size: 16px;
}

#navigation ul {
    margin-top: 0;
}
#navigation ul a {
    display: block;
    color: #CECECE;
    text-decoration: none;
    padding: 0px 6px 0px 6px;
    text-shadow: 2px 2px 1px #222;
}

#navigation ul a:hover {
    color: #FFF;
    text-shadow: 2px 2px 1px #000;
    background-color: #03192C;    
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#navigation ul li {
    float: left;
    margin: 0 12px 0 0;
}

#navigation li ul {
    display: none;
    background: url('./../images/mbg.png') repeat;
    border: 1px solid #222;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 3px;
    min-width: 150px;
    margin-top: 0px;
}

#navigation li:hover ul {
    display: block;
    position: absolute;
}
#navigation ul li ul li{
    font-size: 14px;
    line-height: 24px;
    float: none;
    color: #555;
}

#navigation ul li ul li a {
    color: #CECECE;
    text-shadow: 0 0 0;
}